$primary-color: #0d8514;
$secondary-color: #53b8e8;
$success-color: #5cb85c;
$info-color: #4cb0e8;
$warning-color: #ffc107;
$danger-color: #dc3545;
$light-color: #f5f5f5;
$dark-color: #333333;
$nav-tabs-link-active-color: #fff;
$nav-tabs-link-active-bg: $primary-color;
$nav-tabs-link-active-border-color: $primary-color;
$nav-pills-link-active-color: #fff;
$nav-pills-link-active-bg: $primary-color;

// Override Bootstrap's default color variables with your custom colors
$theme-colors: (
  "primary": $primary-color,
  "secondary": $secondary-color,
  "success": $success-color,
  "info": $info-color,
  "warning": $warning-color,
  "danger": $danger-color,
  "light": $light-color,
  "dark": $dark-color,
);

.pointer {
  cursor: pointer;
}

.h-max-content {
  height: max-content !important;
}

.rounded-full {
  border-radius: 9999px !important;
}

.white-space-nowrap {
  white-space: nowrap;
}

@import "../../node_modules/bootstrap/scss/bootstrap";


.input-group>.btn:hover {
  color: var(--bs-btn-color);
  font-weight: bold;
}

[class^="uicon-"],
[class*=" uicon-"] {
  display: inline-flex;
  align-items: center;
  font-display: swap;
}

.uicon-md {
  font-size: 30px;
}

[data-bs-theme="dark"] {
  .btn-primary {
    --bs-btn-bg: #eeeeee;
    --bs-btn-color: black;
    --bs-btn-border-color: #939393;
  }

  .btn-outline-dark {
    --bs-btn-color: #f5f5f5;
    --bs-btn-border-color: #f5f5f5;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #f5f5f5;
    --bs-btn-hover-border-color: #f5f5f5;
    --bs-btn-focus-shadow-rgb: 245, 245, 245;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #f5f5f5;
    --bs-btn-active-border-color: #f5f5f5;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #f5f5f5;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #f5f5f5;
    --bs-gradient: none;
  }
}

.list-enter-active,
.list-leave-active {
  transition: all 0.8s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}